@font-face {
  font-family: 'CozetteVector';
  src: url('../public/CozetteVector.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nasin leko suwi';
  src: url('../public/nasin-leko-suwi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 25px;
  overflow: hidden
}

body {
  background-color: #11173d;
  width: 100dvw;
}

* {
  color: white;
  font-family: CozetteVector, nasin leko suwi
}

.main, .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tp {
  overflow-wrap: break-word;   /* legacy support */
  word-break: break-word;      /* modern */
  word-wrap: break-word;       /* older syntax */
  white-space: normal;         
}

.page {
  height: 100dvh;
  gap: 25px;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}

.header {
  font-size: 3rem;
  font-weight: bold;
  text-align: center
}

.about-header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center
}

.glow-text {
  color: #8ccdf2;
  text-shadow: 0 0 10px #0ff;  /* extended glow */
}

.about-me {
  width: 80%;
  max-width: 600px;
}

.about-me > p {
  font-size: 1rem;
  margin: 10px;
  text-align: justify;
  overflow: wrap
}

.scroll {
  width: 90dvw;
  margin: auto 
}

.scroll > div {
  padding-top: 50dvh;                /* halfway down the viewport */
  position: sticky; /* so sticky stays in container */
}

.sticky {
  position: relative;
  top: 25%;                /* halfway down the viewport */
  transform: translateY(-50%);  /* shift it up by half its own height */
  text-align: center;
}

.subdomain {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 25px
}

.button {
  position: fixed;           /* stays in place relative to the viewport */
  z-index: 9999;
  padding: 10px
}

.button > svg {
  height: 60px;
  width: auto
}

#page-up {
  top: 5px;
  margin: 0 auto;
}

#page-down {
  bottom: 5px;
  margin: 0 auto
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20dvw;
  height: 100dvh;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 30px;
}

.navbar > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.navbar > div > div, .url, #page-up, #page-down, .icon-tray > svg {
  cursor: pointer
}

.icon-tray {
  display: flex;
  gap: 20px
}

.icon-tray > svg {
  height: 50px;
  width: auto
}

@media (min-width: 1000px) {
  .language {
    display: none !important
  }
}

@media (max-width: 999px) {
  /* applies when the screen is 768px or narrower */
  .language {
    font-size: 30px
  }
  .pages, .settings {
    display: none !important
  }
  .navbar {
    width: 100%;
    height: unset;
  }
}

@media (max-width: 700px) {
  html {
    font-size: clamp(18px, 3dvw, 25px);
  }

  .header {
    font-size: clamp(30px, 9dvw, 75px) 
  }
}
